body{
  margin:0;
  background:#f3f3f3;
  font-family:Arial;
}

.product-page{
  padding:15px;
}

.product-gallery{
  background:white;
  border-radius:25px;
  overflow:hidden;
}

.product-main-image{
  width:100%;
  height:400px;
  object-fit:cover;
}

.product-thumbs{
  display:flex;
  gap:10px;
  padding:10px;
}

.product-thumbs img{
  width:70px;
  height:70px;
  border-radius:12px;
  object-fit:cover;
  cursor:pointer;
}

.product-info{
  margin-top:20px;
  background:white;
  padding:20px;
  border-radius:25px;
}

.product-info h1{
  text-align:center;
  font-size:45px;
}

.product-info p{
  color:#666;
  line-height:1.8;
}

.price-input{
  width:100%;
  padding:18px;
  border:none;
  background:#f1f1f1;
  border-radius:15px;
  margin-top:20px;
  font-size:20px;
  outline:none;
}

.type-buttons{
  display:flex;
  gap:15px;
  margin-top:25px;
}

.type-btn{
  flex:1;
  border:none;
  padding:18px;
  border-radius:15px;
  background:black;
  color:white;
  font-size:22px;
  cursor:pointer;
}

.type-btn.active{
  background:orange;
}

.quantity-box{
  display:flex;
  justify-content:center;
  gap:30px;
  margin:30px 0;
}

.quantity-box button{
  width:70px;
  height:70px;
  border:none;
  border-radius:15px;
  font-size:35px;
  background:#eee;
  cursor:pointer;
}

.cart-btn{
  width:100%;
  border:none;
  background:orange;
  color:white;
  padding:22px;
  border-radius:20px;
  font-size:25px;
  cursor:pointer;
}

/* ZOOM */

.zoom-modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  display:none;
  justify-content:center;
  align-items:center;
}

.zoom-modal img{
  width:90%;
}

.close{
  position:absolute;
  top:20px;
  right:20px;
  color:white;
  font-size:45px;
  cursor:pointer;
}
